/* CSS variables */
:root {
    --clr-main-bg: #101011;             /*main background color*/
    --clr-normal: #87E2AE;              /*color for normal status*/
    --clr-noactive: #767676;            /*color for inactive status*/
    --clr-error: #F14D4D;               /*color for error status*/

    --font-family: Stolzl, sans-serif;
}

/*********** Class to hide element ************/
.vip-hidden {
    visibility: hidden;
}

/*********** Font for app ************/
.ui-component {
    font-family: var(--font-family);
}


/*********** Styles for main menu **********/
.vip-main-mnu_item {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

.vip-main-mnu_item button.agg-btn.medium {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    min-width:auto;

    padding: 12px 16px;

    background-color: #27282B;
    border-radius: 12px;

    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    line-height: 24px;

}

.vip-main-mnu_item:hover button.agg-btn.medium {
    background-color: #3C3E42;
}

.vip-main-mnu_item.vip-main-mnu_item_active button.agg-btn.medium {
    background-color: #3C3E42;
}

.vip-main-mnu_warning {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

.vip-main-mnu_warning .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;

    font-family: Stolzl;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color:#3E3E42;
}

.vip-main-mnu_warning .component-label-container:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='37' height='36' viewBox='0 0 37 36' fill='none'%3E%3Cpath d='M11.0725 16.079C11.7546 17.1215 12.0469 18.6403 12.0469 18.6403C12.0469 18.6403 11.8844 17.2702 12.8588 14.8282C13.8331 12.3859 14.71 11.552 15.2295 9.76525C15.9439 7.32301 14.4176 5 14.4176 5C14.4176 5 20.4906 6.07216 23.2511 10.9266C25.7192 15.245 24.7125 17.8361 24.7125 17.8361C24.7125 17.8361 25.7518 16.9426 26.2713 15.7215C26.791 14.5003 26.6935 13.3688 26.6935 13.3688C26.6935 13.3688 31.0129 17.7467 28.9345 23.2564C27.4731 27.1282 24.7451 29.6894 21.4649 30.702C23.0237 29.8681 24.0954 28.4087 24.1605 26.6516C24.2579 23.4054 21.8222 21.8269 20.3607 19.6826C18.2822 16.5854 18.8667 14.6197 18.8667 14.6197C18.8667 14.6197 17.1455 15.5132 16.1388 18.819C15.8465 19.8018 15.7815 20.7847 15.8465 21.7079C16.009 24.0309 17.1131 26.1455 17.1131 26.1455C17.1131 26.1455 15.1971 25.7881 14.6774 22.5717C13.8005 23.4056 12.9886 24.6267 12.8911 25.8775C12.6963 28.1111 14.1253 30.1362 16.2685 31C12.5339 30.1954 9.90319 27.3065 8.96138 25.192C7.79223 22.5413 8.11705 20.1587 8.31191 18.1336C8.57175 15.334 7.5 13.2493 7.5 13.2493C7.5 13.2493 9.54607 13.7853 11.0725 16.0786L11.0725 16.079Z' fill='%233E3E42'/%3E%3C/svg%3E");
  width:36px;
  height: 36px;
  margin-right: 8px;
}

/*********** Label for on/off button ************/

/* styles for container */
.vip-label-onoff {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
.vip-label-onoff .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 25px;
    height: 14px;

    font-size: 10px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--clr-normal);

    background-color: var(--clr-main-bg);

    border: 1px solid var(--clr-noactive);
    border-radius: 2px;
}

/* styles for OFF status */
.vip-label-onoff_noactive .component-label-container {
    color: var(--clr-noactive);
    border-color: var(--clr-noactive);
}
/* styles for ON status*/
.vip-label-onoff_active .component-label-container {
    color: var(--clr-normal);
    border-color:var(--clr-normal);
}


/*********** Label for settings percent ************/

.vip-label-percent-settings {
    width: auto!important;
    height: auto !important;
    background: none !important;
}
.vip-label-percent-settings .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 24px;

    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    color:#767676;

    border: 1px solid #767676;

    background-color: transparent;
}

.vip-label-percent-settings.vip-label-percent-settings_active .component-label-container {
  color:var(--clr-normal);
}


/*********** Label for field with percent ************/

/* styles for container */
.vip-label-percent {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
.vip-label-percent .component-label-container {

    display: flex;
    align-items: center;
    justify-content: flex-start;

    min-width: 44px;
    height: 16px;

    font-size: 13px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--clr-noactive);

    background-color: var(--clr-main-bg);
}

/* 0% */
.vip-label-percent_noactive .component-label-container {
    color:var(--clr-noactive);
}
/* more than 0% */
.vip-label-percent_active .component-label-container {
    color: var(--clr-normal);
}

/* if  center alignment */
.vip-label-percent_center .component-label-container {
    justify-content: center;
}

/*********** Label for value withh params (ventilation dashboard) ************/

/* styles for container */
.vip-label-value {
    height:auto !important;
    width: auto !important;
    background: none !important;
}


/* styles for element */
.vip-label-value .component-label-container {

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 62px;
    height: 20px;

    padding: 2px 8px;

    font-size: 13px;
    line-height: 1;
    font-weight: 500;
    color: var(--clr-normal);

    background-color: var(--clr-main-bg);
    border: 1px solid var(--clr-normal);

}
/* if uppercase letter*/
.vip-label-value_uppercase .component-label-container {
    text-transform: uppercase
}
/* if large width (94px)*/
.vip-label-value_large .component-label-container {
    min-width: 94px;
}

/* if medium width (71px)*/
.vip-label-value_medium .component-label-container {
    min-width: 71px;
}


/* if left alignment */
.vip-label-value_left .component-label-container {
    justify-content: flex-start;
}

/* if value out of range */
.vip-label-value_beyond .component-label-container {
    border-color: var(--clr-error);
    color: var(--clr-error);
}


/*********** Label for mode status ************/

/* styles for container */
.vip-label-mode {
    height:auto !important;
    width: auto !important;
    background: none !important;
}


/* styles for element */
.vip-label-mode .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;

    min-width:55px;
    height: 14px;

    font-size: 11px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;

    border-radius: 4px;
    background: #323232;

}


/* active status */
.vip-label-mode_active .component-label-container {
    color: var(--clr-normal);
}
/* inactive status */
.vip-label-mode_noactive .component-label-container {
    color: #828282;
}

/*********** Label for status value (normal/error) ************/

/* styles for container */
.vip-label-status {
    height:auto !important;
    width: auto !important;
    background: none !important;
}
/* styles for element */
.vip-label-status .component-label-container {

	min-width: 68px;
	height: 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	background-color: var(--clr-main-bg);

	border: 1px solid var(--clr-normal);
	border-radius: 15px;
}

/* normal status */
.vip-label-status_normal .component-label-container {
    	border-color: var(--clr-normal);
    	color: var(--clr-normal);
}
/* error status */
.vip-label-status_danger .component-label-container {
    	border-color: var(--clr-error);
    	color: var(--clr-error);
}
/* unknown status */
.vip-label-status_unknown .component-label-container {
    	border-color: #828282;
    	color: #828282;
}
/* default status */
.vip-label-status_default .component-label-container {
    border-color: #242424;
    color: #242424;
}

/* if large size */
.vip-label-status_large .component-label-container {
    min-width: 84px;
    height: 22px;
}

/*********** Styles for input field ************/

/* styles for container */
.vip-input {
	height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
 .vip-input input.agg-input {
	width: 196px;
	height: 32px;
	background-color: #101011;
	border: 1px solid #3C3E42;
	border-radius: 8px;
	color: #FFFFFF;
	font-size: 14px;
	padding: 6px 8px 6px 12px;
 }
.vip-input input.agg-input:hover {
	border-color: #87E2AE;
}
 .vip-input input.agg-input:focus{
	background-color: #101011;
	border-color: #87E2AE;
	box-shadow:none;
}



/*********** Styles for select list ************/

/* styles for container */

.js-comboBox.vip-select-list {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
.vip-select-list .agg-select {

    min-width: 160px;
    height: 32px;

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;

    border: 1px solid  #3C3E42;
    border-radius: 8px;

    background-color: #101011;
}

.vip-select-list .agg-select:hover {
    border-color:#87E2AE;
}

.vip-select-list .ant-select.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input),
.vip-select-list .ant-select.ant-select-open:not(.ant-select-disabled),
.vip-select-list .ant-select:hover.ant-select-open:not(.ant-select-disabled) {
    border-color:#87E2AE;
    box-shadow: none;
}

/* icon styles */
.vip-select-list .ant-select-open .ant-select-arrow svg path
{
   fill:#87E2AE;
}
/* inner list styles */
.vip-select-list.agg-select-dropdown {
   border: none;
   background: #222224;
   border-radius: 8px;
}
.vip-select-list .ant-select-item-option {
   color: #FFFF;
   font-size: 14px;
}
/* styles for selected element */
.vip-select-list .ant-select-item-option-selected {
    background-color: rgba(255, 255, 255, 0.06);
    box-shadow:none;
    font-weight: 400;
}

.vip-select-list .ant-select-item-option-selected:hover {
    box-shadow: none;
}

.vip-select-list .ant-select-item-option-active.ant-select-item-option-active,
.ant-select .ant-select-item-option-active {
    background-color: rgba(255, 255, 255, 0.03);
}



/*********** Styles for danger message ************/

/* styles for container */
.vip-label-danger-message {
	height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
 .vip-label-danger-message .component-label-container {
	width: 48px;
	height: 14px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--clr-error);
	border: 1px solid var(--clr-error);
	background-color: var(--clr-main-bg);

	border-radius: 4px;

	font-size: 11px;
	line-height:1;
	font-weight: 400;
	text-transform: uppercase;
 }



 /*********** Styles for button with icon ************/

/* styles for container */
 .vip-button_with-icon {
	height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
.vip-button_with-icon button.agg-btn.medium {
	min-width:75px;
	height: 18px;
	padding: 0px;

	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;

	color: #D2D2D2;
	background-color: #27282B;

	border-radius: 15px;
	padding: 2px 0;
}

.vip-button_with-icon .button-image-element {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0;
}


 /*********** Styles for button-icon (without text) ************/

/* styles for container */
.vip-button_icon {
	height:auto !important;
    width: auto !important;
    background: none !important;

}
.vip-button_icon .button-image-container {
	width: 24px;
	height: 24px;
	margin-right: 0px
}

/* styles for element */
.vip-button_icon button.agg-btn.medium {
    min-width: 32px;
    height: 32;
    background-color: #27282B;
    padding: 0px;
    border-radius: 8px;
}

.vip-button_icon:hover button.agg-btn.medium {
    background-color: #2E2F32;
}



 /*********** Styles for label with info about temperature (inside/outside) ************/

/* styles for container */
.vip-label-temp-info {
	height:auto !important;
    width: auto !important;
    background: none !important;
}

/* styles for element */
.vip-label-temp-info .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75px;
    height: 20px;

    font-size: 13px;
    line-height: 1;
    font-weight: 700;
    color:var(--clr-normal);

    background-color: #1D1D1F;
    border-radius: 12px;
}



/*********** Styles for label with warning (lift dashboard) ************/

.vip-label-warning_with-icon {
    height:auto !important;
    width: auto !important;
    background: none !important;
}


.vip-label-warning_with-icon .component-label-container {
	min-width: 172px;
	height: 36px;
    padding-left: 10px;

	display: flex;
	align-items: center;
	justify-content: flex-start;

	font-size: 12px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;

	background-color: #101011;
	color: #242424;

	border: 1px solid #242424;
	border-radius: 28px;

}


.vip-label-warning_with-icon .component-label {
    max-width:112px;
    text-align: left;
}


.vip-label-warning_with-icon .component-label-container:before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cg id='man_icon'%3E %3Cg id='Union'%3E %3Cpath d='M19.2646 5.1949C20.0955 3.96322 19.7705 2.29116 18.5388 1.46026C17.3069 0.629402 15.6349 0.954278 14.804 2.18613C13.9731 3.4178 14.2982 5.08987 15.5298 5.92077C16.7617 6.75162 18.4337 6.42657 19.2646 5.1949Z' fill='%23242424'/%3E %3Cpath d='M17.3562 11.5479L19.3554 13.0041C19.8984 13.3991 20.0217 14.1645 19.651 14.6584C19.4043 14.9792 19.034 15.152 18.6638 15.152C18.4171 15.152 18.1702 15.0532 17.9481 14.9051L15.9489 13.449C15.2827 12.9552 14.8629 12.2149 14.7643 11.425C14.7526 11.3669 14.7464 11.3142 14.7406 11.2645C14.734 11.2085 14.7279 11.1563 14.7148 11.104L12.6662 13.4982L14.0732 14.6088C14.8383 15.2012 15.1592 16.1885 14.9123 17.1264L13.7523 21.4211C13.6042 22.0382 13.0366 22.4578 12.4196 22.4578C12.2971 22.4578 12.1745 22.4333 12.0519 22.4089L12.0494 22.4084C11.3091 22.2109 10.8647 21.4458 11.0622 20.7053L12.1483 16.6821L10.8401 15.6701L5.45901 21.9886C5.18769 22.3094 4.79273 22.4822 4.39778 22.4822C4.077 22.4822 3.7561 22.3588 3.48459 22.1367C2.89234 21.6183 2.84293 20.7545 3.33653 20.1621L8.61846 13.9422C8.17411 13.5473 7.85337 13.0043 7.80396 12.3872C7.75455 11.721 7.95203 11.0791 8.3716 10.5855L10.5436 8.0679C10.445 8.09252 10.3462 8.09252 10.2475 8.09252C9.97602 8.11714 9.70452 8.21596 9.48242 8.36403L7.21169 9.91903C6.66886 10.2892 5.90356 10.1411 5.5334 9.59811C5.16323 9.05529 5.31132 8.28999 5.85432 7.91983L8.12506 6.36483C8.71751 5.94524 9.43338 5.69835 10.1491 5.67373C13.5797 5.50089 13.9006 5.69834 14.2215 5.89581L15.9246 6.93247C16.443 7.2532 16.7391 7.59875 17.1587 11.2024C17.1587 11.3505 17.2327 11.4739 17.3562 11.5479Z' fill='%23242424'/%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    margin-right: 4px;
}




/*********** Styles for levels button (room automation and other) ************/
.vip-button_level {
    height:auto !important;
    width: auto !important;
    background: none !important;
}

.vip-button_level .button-image-container {
  width: 83px;
  height: 40px;
  margin-right: 0;
  padding-top: 12px;
}

.vip-button_level .button-image-element {
   display: flex;
   align-items: center;
   justify-content: center;
}

.vip-button_level .button-image-element svg path {
 fill: #fff;
}

.vip-button_level button.agg-btn.medium {

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    min-width: 107px;
    height: 88px;
    padding: 0px;

    border: 1px solid #323232;
    background-color: #101011;
    border-radius: 12px;

    font-family: Stolzl;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #767676;

}

.vip-button_level:hover button.agg-btn.medium {
    background-color: #171718;
}

/*active*/
.vip-button_level.vip-button_level_active button.agg-btn.medium {
    border-color: #E5F280;
}

.vip-button_level.vip-button_level_active button.agg-btn.medium::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='14' viewBox='0 0 12 14' fill='none'%3E%3Cpath d='M0.539357 7.96694C-0.179786 7.53719 -0.179786 6.46281 0.539357 6.03306L10.3819 0.151251C11.1011 -0.2785 12 0.258688 12 1.11819L12 12.8818C12 13.7413 11.1011 14.2785 10.3819 13.8487L0.539357 7.96694Z' fill='url(%23paint0_linear_2350_90828)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2350_90828' x1='-3.0598e-07' y1='7' x2='12' y2='7' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E5F280'/%3E%3Cstop offset='1' stop-color='%2387E2AE'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: -16px;
}

.vip-button_level.vip-button_level_active .button-image-element svg path {
    fill: url(#active_gradient);
}


/*danger*/
.vip-button_level.vip-button_level_danger button.agg-btn.medium {
    border-color: #F14D4D;
    color: #F14D4D;
    background: linear-gradient(135deg, rgba(241, 77, 77, 0.13) 0%, rgba(241, 77, 77, 0.00) 48.96%, rgba(241, 77, 77, 0.10) 100%);
}

.vip-button_level.vip-button_level_danger .button-image-element svg path {
    fill: #F14D4D;
}

/*********** Styles for room status on the level plan (room automation) ************/
.vip-room-status-svg {
    cursor: pointer;
}

.vip-room-status-svg path {
    transition: all 0.3s ease-out;
}

.vip-room-status-svg:hover path {
    fill-opacity: 0.2;
}

/*********** Styles for button in CC common page (cold supply) ************/
.vip-button-scheme-cc {
    height:auto !important;
    width: auto !important;
    background: none !important;
}


.vip-button-scheme-cc button.agg-btn.medium {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;
    padding: 0px;

    background: #27282B;
    border-radius: 16px;

    font-family: Stolzl;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: #D2D2D2;
}

.vip-button-scheme-cc:hover button.agg-btn.medium {
    background-color: #2E2F32;
}


/*********** Styles for panel of system on the main page **********/


/*********** for RA panel (small size) **********/
.vip-ra-main-panel {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.06) 0%, rgba(23, 23, 23, 0.00) 48.96%, rgba(255, 255, 255, 0.06) 100%) !important;
    width: 230px !important;
    height: 284px !important;
    border: 1px solid #242424;
    border-radius: 24px;

    cursor: pointer;
    transition: all 200ms linear;
  }

.vip-ra-main-panel:hover {
    background: rgba(255, 255, 255, 0.06) !important;
  }

.vip-ra-main-panel__header {
    background: none !important;
    width: 198px !important;
    height: 136px !important;

    left: 16px !important;
    top: 16px !important;
  }

.vip-ra-main-panel__header::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 6px;
    border-radius: 2px;
    background-color: #323232;
}

.vip-ra-main-panel__icon {
    background: none !important;
    width: 48px !important;
    height: 48px !important;

    left: 0px !important;
    top: 0px !important;
}

.vip-ra-main-panel__title {
    background: none !important;
    width: 198px !important;
    height: 29px !important;

    left: 0px !important;
    top: 64px !important;

    font-weight: 500;
    font-size: 24px;
    color: #fff;
    font-family: var(--font-family);
}

.vip-ra-main-panel__subtitle {
    background: none !important;
    width: 198px !important;
    height: 17px !important;

    left: 0px !important;
    top: 97px !important;

    font-weight: 400;
    font-size: 14px;
    color: #767676;
    font-family: var(--font-family);
}

.vip-ra-main-panel__content {
    background: none !important;
    width: 198px !important;
    height: 46px !important;

    left: 16px !important;
    top: 168px !important;
}

.vip-ra-main-panel__footer {
    background: none !important;
    width: 198px !important;
    height: 38px !important;

    left: 16px !important;
    top: 230px !important;
}

.vip-ra-main-panel__elements  {
    background: none !important;
    width: auto !important;
    height: auto !important;

    left: 40px !important;
    top: 0px !important;
}

.vip-ra-main-panel__elements .component-label-container {
    font-family: var(--font-family);
    width: 53px;
    height: 38px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    font-size: 32px;
    font-weight: 700;

    color: #666C69;
}
.vip-ra-main-panel__elements.vip-ra-main-panel__elements_normal {
    width: 38px !important;
    left: 0px !important;
}

.vip-ra-main-panel__elements.vip-ra-main-panel__elements_normal .component-label-container {
    color: #87E2AE;
}


.vip-ra-main-panel__elements.vip-ra-main-panel__elements_single .component-label-container {
    width: 33px;
}
.vip-ra-main-panel__elements.vip-ra-main-panel__elements_single.vip-ra-main-panel__elements_normal .component-label-container {
    width: 20px;
}
.vip-ra-main-panel__elements.vip-ra-main-panel__elements_single {
    left: 20px !important;
}
.vip-ra-main-panel__elements.vip-ra-main-panel__elements_single.vip-ra-main-panel__elements_normal {
    left: 0px !important;
}

.vip-ra-main-panel__status
 {
    width: auto!important;
    height: auto !important;
    font-family: Stolzl;
    background: none !important;


    left: 122px !important;
    top: 8px !important;

}

.vip-ra-main-panel__status .component-label-container {

    width: 76px;
    height: 22px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
    border-radius: 21px;
    background: #87E2AE;
    color: #0E0E0E;
    font-size:12px;
    line-height:1;
    font-weight: normal;
}




/*********** Styles for slider (room page in RA) **********/
.vip-slider {
    width: 345px !important;
    height: auto !important;
    background: none !important;
}


.vip-slider::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8.75 1.75C8.75 2.16421 8.41421 2.5 8 2.5C7.58579 2.5 7.25 2.16421 7.25 1.75C7.25 1.33579 7.58579 1 8 1C8.41421 1 8.75 1.33579 8.75 1.75Z' fill='%23323232'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.75 8.25C12.75 10.8734 10.6234 13 8 13C5.37665 13 3.25 10.8734 3.25 8.25C3.25 5.62665 5.37665 3.5 8 3.5C10.6234 3.5 12.75 5.62665 12.75 8.25ZM8 11.5C9.79493 11.5 11.25 10.0449 11.25 8.25C11.25 6.45507 9.79493 5 8 5C6.20507 5 4.75 6.45507 4.75 8.25C4.75 10.0449 6.20507 11.5 8 11.5Z' fill='%23323232'/%3E%3Cpath d='M8 15.5C8.41421 15.5 8.75 15.1642 8.75 14.75C8.75 14.3358 8.41421 14 8 14C7.58579 14 7.25 14.3358 7.25 14.75C7.25 15.1642 7.58579 15.5 8 15.5Z' fill='%23323232'/%3E%3Cpath d='M3.93413 3.12348C4.22702 3.41637 4.22702 3.89125 3.93413 4.18414C3.64124 4.47703 3.16636 4.47703 2.87347 4.18414C2.58058 3.89125 2.58058 3.41637 2.87347 3.12348C3.16636 2.83059 3.64124 2.83059 3.93413 3.12348Z' fill='%23323232'/%3E%3Cpath d='M13.1265 13.3765C13.4194 13.0836 13.4194 12.6088 13.1265 12.3159C12.8336 12.023 12.3588 12.023 12.0659 12.3159C11.773 12.6088 11.773 13.0836 12.0659 13.3765C12.3588 13.6694 12.8336 13.6694 13.1265 13.3765Z' fill='%23323232'/%3E%3Cpath d='M13.1265 4.18413C12.8336 4.47702 12.3588 4.47702 12.0659 4.18413C11.773 3.89124 11.773 3.41636 12.0659 3.12347C12.3588 2.83058 12.8336 2.83058 13.1265 3.12347C13.4194 3.41636 13.4194 3.89124 13.1265 4.18413Z' fill='%23323232'/%3E%3Cpath d='M2.87347 13.3765C3.16637 13.6694 3.64124 13.6694 3.93413 13.3765C4.22703 13.0836 4.22703 12.6088 3.93413 12.3159C3.64124 12.023 3.16637 12.023 2.87347 12.3159C2.58058 12.6088 2.58058 13.0836 2.87347 13.3765Z' fill='%23323232'/%3E%3Cpath d='M14.5 9C14.0858 9 13.75 8.66421 13.75 8.25C13.75 7.83579 14.0858 7.5 14.5 7.5C14.9142 7.5 15.25 7.83579 15.25 8.25C15.25 8.66421 14.9142 9 14.5 9Z' fill='%23323232'/%3E%3Cpath d='M0.75 8.25C0.75 8.66421 1.08579 9 1.5 9C1.91421 9 2.25 8.66421 2.25 8.25C2.25 7.83579 1.91421 7.5 1.5 7.5C1.08579 7.5 0.75 7.83579 0.75 8.25Z' fill='%23323232'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
}

.vip-slider::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M13.125 2.625C13.125 3.24632 12.6213 3.75 12 3.75C11.3787 3.75 10.875 3.24632 10.875 2.625C10.875 2.00368 11.3787 1.5 12 1.5C12.6213 1.5 13.125 2.00368 13.125 2.625Z' fill='%23323232'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.125 12.375C19.125 16.31 15.935 19.5 12 19.5C8.06497 19.5 4.875 16.31 4.875 12.375C4.875 8.43997 8.06497 5.25 12 5.25C15.935 5.25 19.125 8.43997 19.125 12.375ZM12 17.25C14.6924 17.25 16.875 15.0674 16.875 12.375C16.875 9.68261 14.6924 7.5 12 7.5C9.30761 7.5 7.125 9.68261 7.125 12.375C7.125 15.0674 9.30761 17.25 12 17.25Z' fill='%23323232'/%3E%3Cpath d='M12 23.25C12.6213 23.25 13.125 22.7463 13.125 22.125C13.125 21.5037 12.6213 21 12 21C11.3787 21 10.875 21.5037 10.875 22.125C10.875 22.7463 11.3787 23.25 12 23.25Z' fill='%23323232'/%3E%3Cpath d='M5.9012 4.68522C6.34053 5.12456 6.34053 5.83687 5.9012 6.27621C5.46185 6.71555 4.74954 6.71555 4.3102 6.27621C3.87086 5.83687 3.87086 5.12456 4.3102 4.68522C4.74954 4.24588 5.46185 4.24588 5.9012 4.68522Z' fill='%23323232'/%3E%3Cpath d='M19.6898 20.0648C20.1291 19.6255 20.1291 18.9131 19.6898 18.4738C19.2504 18.0345 18.5381 18.0345 18.0988 18.4738C17.6594 18.9131 17.6594 19.6255 18.0988 20.0648C18.5381 20.5041 19.2504 20.5041 19.6898 20.0648Z' fill='%23323232'/%3E%3Cpath d='M19.6898 6.2762C19.2504 6.71553 18.5381 6.71553 18.0988 6.2762C17.6595 5.83685 17.6595 5.12454 18.0988 4.6852C18.5381 4.24586 19.2504 4.24586 19.6898 4.6852C20.1291 5.12454 20.1291 5.83685 19.6898 6.2762Z' fill='%23323232'/%3E%3Cpath d='M4.31021 20.0648C4.74955 20.5041 5.46186 20.5041 5.9012 20.0648C6.34054 19.6254 6.34054 18.9131 5.9012 18.4738C5.46186 18.0344 4.74955 18.0344 4.31021 18.4738C3.87087 18.9131 3.87087 19.6254 4.31021 20.0648Z' fill='%23323232'/%3E%3Cpath d='M21.75 13.5C21.1287 13.5 20.625 12.9963 20.625 12.375C20.625 11.7537 21.1287 11.25 21.75 11.25C22.3713 11.25 22.875 11.7537 22.875 12.375C22.875 12.9963 22.3713 13.5 21.75 13.5Z' fill='%23323232'/%3E%3Cpath d='M1.125 12.375C1.125 12.9963 1.62868 13.5 2.25 13.5C2.87132 13.5 3.375 12.9963 3.375 12.375C3.375 11.7537 2.87132 11.25 2.25 11.25C1.62868 11.25 1.125 11.7537 1.125 12.375Z' fill='%23323232'/%3E%3C/svg%3E");
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0px;
    left: 321px;
}
.vip-slider .agg-slider-container {
    padding: 0;
}

.vip-slider .agg-slider {
    margin-right: 32px;
    margin-left: 24px;
    margin-block: 0;
    height: 24px;
}

.vip-slider .agg-slider:hover .ant-slider-rail  {
    background-color: #242424;
}

.vip-slider .agg-slider:hover .ant-slider-track  {
    background-color: var(--clr-normal);
}
.vip-slider .ant-slider-rail {
    background-color: #242424;
    height: 10px;
    border-radius: 3px;
    top: 7px;
}

.vip-slider .ant-slider-track {
    background-color: var(--clr-normal);
    border-radius: 2px;
    height:4px;
    top: 10px;
}

.vip-slider .ant-slider-handle {
    background: linear-gradient(180deg, #E5F280 0%, #87E2AE 100%);
    border: none;
    top: 10px;
}

.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging,
.ant-slider-handle:focus{
    box-shadow: 0 0 0 5px rgba(135,226,174,.12);
}

.vip-input_small input.agg-input {
    min-width: 62px;
    width: 62px;
    color: var(--clr-normal);
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    text-align: center;
}

/*********** Styles for toggle button (room page in RA) **********/
.vip-toggle {
    width: auto !important;
    height: auto !important;
    background: none !important;
}

.vip-toggle button {
 background: var(--clr-main-bg);
 width: 50px;
 height: 26px;
 position: relative;
 border: 1px solid #767676;
 border-radius: 25px;
}

.vip-toggle button:before {
   content: '';
   position: absolute;
   width: 8px;
   height: 2px;
   background-color: #242424;
   border-radius: 2px;
   left: 9px;
   top: 12px;
   }

.vip-toggle button:after {
   content: '';
   position: absolute;
   width: 8px;
   height: 8px;
   background-color: var(--clr-main-bg);
   border: 1px solid #767676;
   border-radius: 4px;
   right: 9px;
   top: 8px;
   visibility: visible;
}
.vip-toggle button.ant-switch-checked:after {
   visibility: hidden;
}
.vip-toggle .ant-switch-handle{
 width: 20px;
 height: 20px;

 top: 2px;
 left: 3px;
}
.vip-toggle .ant-switch-handle:before {
 background-color: #767676;
 border-radius: 10px
}

.vip-toggle button.ant-switch-checked {
 border-color: transparent;
}
.vip-toggle .ant-switch-checked .ant-switch-handle {
 left: calc(100% - 23px);
}
.vip-toggle .ant-switch-checked .ant-switch-handle:before {
 background-color: #242424;
}
.vip-toggle .ant-switch-checked {
 background-color: var(--clr-normal);
}
.vip-toggle .ant-switch-checked:focus {
 box-shadow: none;
}

/*********** Styles for label info (room page in RA) **********/
.vip-ra-label {
    width: auto!important;
    height: auto !important;
    background: none !important;
}
.vip-ra-label .component-label-container {

    display: flex;
    align-items: center;
    justify-content: center;

    height: 22px;

    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color:var(--clr-normal);
}

/*********** Styles for tooltips **********/
.svg-tooltips {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto !important;
    background: none !important;
    height: auto !important;
}
.svg-tooltips::before,
.svg-tooltips::after {
    --scale: 0;
    --arrow-size: 9px;
    --tooltip-color: #32353D;

    position: absolute;
    top: 50%;
    right: -0.25rem;
    transform: translateX(var(--translate-x, 0)) translateY(-50%) scale(var(--scale));

    transition: 180ms transform linear;
    z-index: 10;
    pointer-events: none;
}
.svg-tooltips:hover::before,
.svg-tooltips:hover::after {
    --scale: 1;
}
.svg-tooltips::before {
    content: attr(data-viptooltip);

    width: 125px;
    padding: 8px 16px 10px 8px;

    background-color: var(--tooltip-color);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.20);

    font-size: 12px;
    color: #D2D2D2;
    text-align: left;

    border-radius: 4px;
    transform-origin: left center;
    --translate-x: calc(100% + var(--arrow-size));
}

.svg-tooltips::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='10' viewBox='0 0 7 10' fill='none'%3E%3Cpath d='M1.3085 5.84118C0.696177 5.44754 0.696176 4.55246 1.3085 4.15882L7 0.5L7 9.5L1.3085 5.84118Z' fill='%2332353D'/%3E%3C/svg%3E");;

    --translate-x: calc(var(--arrow-size));
    transform-origin: right center;
}



/*********** Classes to manage elements on the ventilation scheme ************/

.vip-fan,
.vip-filter,
.vip-zaslonka,
.vip-pds,
.vip-filter,
.vip-valve,
.vip-pump,
.vip-thermostat,
.vip-leak {
	width: auto!important;
    height: auto !important;
    background: none !important;	
}

 /* FAN */

@keyframes vip-fan-rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }


.vip-fan .fan_img {
    fill: var(--clr-noactive);
}

  .vip-fan_active .fan_img {
    transform-origin: center center;
    animation: 1s linear infinite vip-fan-rotate;
    fill: url(#vip-fan-gradient);
  }

  .vip-fan_error .fan_img {
    fill: var(--clr-error);
  }

/* ZASLONKA */

.vip-zaslonka_closed path,
.vip-zaslonka_closed .zaslonka_img rect{
    fill: #767676;
}

.vip-zaslonka_closed .zaslonka_border {
    stroke: #767676;
}

.vip-zaslonka_closed .zaslonka{
    transform-origin: 14.5px 40px;
    transform: rotate(90deg);
}

/* PRESSURE DROP */
.vip-pds {
	pointer-events: none;
}

.vip-pds .pds_img rect {
	
	pointer-events:fill;
}


.vip-pds.vip-pds_error .pds_border rect,
.vip-pds.vip-pds_error .pds_border path,
.vip-pds.vip-pds_error .pds_img path {
    fill: var(--clr-error);
}

.vip-pds.vip-pds_error .pds_img rect{
    stroke: var(--clr-error)
}


.vip-pds.svg-tooltips::before,
.vip-pds.svg-tooltips::after {
    top: 0;
    transform: translateX(70px) translateY(-50%) scale(var(--scale));
}

.vip-pds.svg-tooltips::after {
    transform: translateX(-55px) translateY(-50%) scale(var(--scale));
}


/* FILTER */

.vip-filter.vip-filter_error .line {
    fill: url(#red_filter_gradient);
}

.vip-filter.vip-filter_error .filter_icon_img rect,
.vip-filter.vip-filter_error .border_lines
{
    stroke: var(--clr-error);
}


.vip-filter.vip-filter_error .filter_border_lines path,
.vip-filter.vip-filter_error .filter_border_lines rect,
.vip-filter.vip-filter_error .filter_icon_img path {
    fill: var(--clr-error);
}

/* VALVE to regulate temperature */

.vip-valve.vip-valve_closed .reg_tempY_img path,
.vip-valve.vip-valve_closed .reg_tempY_img rect{
    fill: var(--clr-noactive);
}

.vip-valve.vip-valve_closed .reg-tempY_border {
    stroke: var(--clr-noactive);
}

.vip-valve.vip-valve_closed .reg_tempY_zasl{
    transform-origin: 5.5px center;
    fill: var(--clr-noactive);
	transform: rotate(90deg);
}


.vip-valve.vip-valve_half .reg_tempY_zasl{
    transform-origin: 5.5px center;
    transform: rotate(-45deg);
}

/* PUMP */

.vip-pump.vip-pump_error .vip-pump_stroke path,
.vip-pump.vip-pump_error .vip-pump_stroke rect {
    stroke: var(--clr-error);
}

.vip-pump.vip-pump_error .vip-pump_fill path,
.vip-pump.vip-pump_error .vip-pump_fill rect {
    fill: var(--clr-error);
}



.vip-pump.vip-pump_noactive .vip-pump_stroke path,
.vip-pump.vip-pump_noactive .vip-pump_stroke rect {
    stroke: var(--clr-noactive);
}

.vip-pump.vip-pump_noactive .vip-pump_fill path,
.vip-pump.vip-pump_noactive .vip-pump_fill rect {
    fill: var(--clr-noactive);
}

/* THERMOSTAT */

.vip-thermostat.vip-thermostat_error rect {
    stroke: var(--clr-error);
}

.vip-thermostat.vip-thermostat_error path {
    fill: var(--clr-error);
}


/* LEAK */

.vip-leak_error path {
    fill: var(--clr-error);
}

.vip-leak_error .vip-ls_border {
    stroke: var(--clr-error);
}